<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5 w-50">
        <h1 class="text-center">Добро пожаловать на сайт!</h1>
        <div class="text-center mt-4">
            <a href="/lk/registration" class="btn btn-primary">Регистрация</a>
            <a href="/lk/login" class="btn btn-secondary">Войти</a>
        </div>
    </div>
</body>
</html>
