<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой профиль</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5 w-50">
        <h3>Вы успешно подтвердили свою почту</h3>
        <p>Перейдите в личный кабинет для получения токена для работы с сервисом</p>
        <div class="mt-4">
            <a href="/lk/me" class="btn btn-primary">Личный кабинет</a>
        </div>
    </div>
</body>
</html>
